body {
  font-family: 'Roboto', sans-serif;

}
.hide {
  display: none;
}
.link {
  text-decoration: none;
  cursor: pointer;
}

.link:hover,
.link:focus {
  color: #2196f3;
}
.hero-button {
  background-color: #188CE8;
  color: #FFFFFF;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #2196F3;
}

.hero {
  width: 1600px;
  color: #000;
}
.advantage {
}
.advantage-item-list {
  color: #757575;
}
