body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}
.hide {display: none}
.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
  color: #2196f3;
}
.hero-button:hover,
.hero-button:focus {
  color: #188CE8;
}

.hero {
  width: 1600px;
  height: 600px;
  color: #000;
}
.advantage {
  background: #212121;
}
.advantage-item {
}
